.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.loginInput{
    margin-bottom: 20px;
}
.loginButton{
    border-radius: 7px;
    cursor: pointer;
    border: none;
}
